<div id="profile-desc" th:fragment="activitystat" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="activity-bar">
        <ul>
            <li
                    th:classappend="${activitytab=='question'} ? 'activity-tab' : ''"
            ><a
                    th:href="@{'/user/' + ${user.id} + '?profiletab=activity' + '&activitytab=question'}"
            >Question</a>
            </li>

            <li th:classappend="${activitytab=='answer'} ? 'activity-tab' : ''"><a
                    th:href="@{'/user/' + ${user.id} + '?profiletab=activity' + '&activitytab=answer'}"
            >Answers</a></li>

            <li th:classappend="${activitytab=='tags'} ? 'activity-tab' : ''"><a
                    th:href="@{'/user/' + ${user.id} + '?profiletab=activity' + '&activitytab=tags'}"
            >Tags</a></li>

            <li th:classappend="${activitytab=='badges'} ? 'activity-tab' : ''"><a
                    th:href="@{'/user/' + ${user.id} + '?profiletab=activity' + '&activitytab=badges'}"
            >Badges</a></li>

        </ul>
    </div>

    <div class="user-main" th:if="${activitytab == 'question'}">
        <div th:replace="~{fragments/question :: question(user=${user})}"></div>
    </div>

    <div class="user-main" th:if="${activitytab == 'answer'}">
        <div th:replace="~{fragments/answer :: answer(user=${user})}"></div>
    </div>

    <div class="user-main" th:if="${activitytab == 'tags'}">
        <div th:replace="~{fragments/tags :: tagBox(allTags=${tagList})}"></div>
    </div>

    <div class="user-main" th:if="${activitytab == 'badges'}">
        <div th:replace="~{fragments/badges :: badge(user=${user})}"></div>
    </div>

</div>