<!--<div id="profile-desc" th:fragment="answer">-->
<!--    <div id="about">-->
<!--        <h3><span>2</span> Answers</h3>-->
<!--        <div id="profile-about">-->
<!--            <p>-->
<!--                All answers show here-->
<!--                <a href="#">create a question</a>-->
<!--            </p>-->


<!--            <ul class="answer-list">-->
<!--                <li class="answer-item">-->
<!--                    <span class="vote-count">3 votes</span>-->

<!--                    <div class="question-section">-->
<!--                        <div class="question-link">-->
<!--                            In:-->
<!--                            <a href="#">How to center a div using CSS Flexbox?</a>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Optional: Hidden answer content &ndash;&gt;-->
<!--                        <div class="answer-content">-->
<!--                            You can use `display: flex` and `justify-content: center` along with `align-items: center`.-->
<!--                        </div>-->

<!--                        <div class="answer-meta">-->
<!--                          <span class="answer-tags">-->
<!--                            <a href="#" class="tag">css</a>-->
<!--                            <a href="#" class="tag">flexbox</a>-->
<!--                          </span>-->
<!--                            <span>Answered 1 day ago</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<div id="profile-desc" th:fragment="answer(user)">
    <div id="about">
        <h3><span th:text="${#lists.size(user.answers)}">0</span> Answers</h3>
        <div id="profile-about">
            <p>
                All answers show here
                <a href="/questions">answer a question</a>
            </p>

            <ul class="answer-list">
                <li class="answer-item" th:each="answer : ${user.answers}">
<!--                    <span class="vote-count" th:text="${answer.upvote - answer.downvote} + ' votes'"></span>-->

                    <div class="question-section">
                        <div class="question-link">
                            In:
                            <a th:href="@{'/question/' + ${answer.question.id}}"
                               th:text="${answer.question.title}"></a>
                        </div>

                        <div class="answer-content" th:text="${answer.content}">
                            <!-- Answer text here -->
                        </div>

                        <div class="answer-meta">
                            <span class="answer-tags">
                                <a class="tag"
                                   th:each="qt : ${answer.question.questionTags}"
                                   th:text="${qt.tag.tagName}"
                                   th:href="@{'/tags/' + ${qt.tag.tagId}}"></a>
                            </span>
                            <span th:text="'Answered ' + ${#temporals.format(answer.createdAt, 'dd MMM yyyy')}"></span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
