<div th:fragment="editProfile(user)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="profile-info">
        <h1 id="edit-profile-header">Edit your profile</h1>
        <hr>
            <p>Public information</p>

        <form th:action="@{/updateUser}" th:object="${user}" method="post" enctype="multipart/form-data">
            <div class="form-container">

<!--                                <label>Profile image</label>-->
<!--                                <div class="profile-picture">-->
<!--                                    <img th:src="@{${(user.profileImage != null) ? user.profileImage : 'https://via.placeholder.com/100/FF69B4/FFFFFF?text=Profile'}}" alt="Profile Image" />-->
<!--                                    <input type="file" name="profileImageFile" id="profileImageFile" accept="image/*" style="display: none;" />-->
<!--                                    <button type="button" onclick="document.getElementById('profileImageFile').click();">Change picture</button>-->
<!--                                </div>-->

<!--                            </div>-->

<!--                            <div class="form-group">-->
<!--                                <label>Display name</label>-->
<!--                                <input type="text" th:field="*{displayName}">-->
<!--                            </div>-->


                <div class="form-group">

                    <div class="form-group">
                        <label>Display name</label>
                        <input type="text" th:field="*{username}">
                    </div>

                    <label>Title</label>
                    <input type="text" th:field="*{title}" placeholder="No title has been set">
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{password}" />
                    <input type="hidden" th:field="*{createdAt}" />
                    <input type="hidden" th:field="*{answers}" />
                    <input type="hidden" th:field="*{questions}" />
                    <input type="hidden" th:field="*{lastLoginAt}" />
                    <input type="hidden" th:field="*{reputation}" />
                    <input type="hidden" th:field="*{role}" />
                    <input type="hidden" th:field="*{email}" />

                </div>

                <div class="form-group">
                    <label>About me</label>
                    <div class="editor-toolbar">
                        <button type="button">B</button>
                        <button type="button">I</button>
                        <button type="button">♡</button>
                        <button type="button">♢</button>
                        <button type="button">♣</button>
                        <button type="button">♠</button>
                        <button type="button">≡</button>
                        <button type="button">≅</button>
                        <button type="button">≟</button>
                        <button type="button">⍁</button>
                    </div>
                    <textarea th:field="*{about}"></textarea>
                </div>

            </div>

            <div class="private-information">
                <div class="private-info">
                    <p>Private information<small>Not shown publicly</small></p>
                </div>

                <div class="full-name" >
                  <h5>Full name</h5>
                    <input class="input-full-name" type="text">
                </div>

            </div>
<br><br>
                <div class="buttons">
                    <button type="submit">Save profile</button>
                    <button type="button" onclick="window.location.href='/profile'">Cancel</button>
                </div>

        </form>

    </div>
</div>
