<div id="profile-desc" th:fragment="profilestat">
    <div id="stats">
        <h3>Stats</h3>
        <div id="profile-stats">
            <div class="stat-card">
                <h2 th:text="${user.reputation}"></h2>
                <p>Reputation</p>
            </div>
            <div class="stat-card">
                <h2 th:text="${user.answers.size()}"></h2>
                <p>Answers</p>
            </div>
            <div class="stat-card">
                <h2 th:text="${user.questions.size()}">0</h2>
                <p>Questions</p>
            </div>
        </div>
    </div>
    <div id="about">
        <h3>About</h3>
        <div id="profile-about">
            <p th:if="${user.about == null or user.about.isEmpty()}">
                Your about me section is currently blank. Would you like to
                add one?
            </p>
            <p th:unless="${user.about == null or user.about.isEmpty()}" th:text="${user.about}"></p>
        </div>

    </div>
</div>