<div id="profile-desc" th:fragment="profilestat" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="stats">
        <h3>Stats</h3>
        <div id="profile-stats">
            <div class="stat-card">
                <h2 th:text="${user.reputation}"></h2>
                <p>Reputation</p>
            </div>
            <div class="stat-card">
                <h2 th:text="${user.answers.size()}"></h2>
                <p>Answers</p>
            </div>
            <div class="stat-card">
                <h2 th:text="${user.questions.size()}">0</h2>
                <p>Questions</p>
            </div>
        </div>
    </div>


    <div id="about">
        <h3>About</h3>
        <div>

                 <div th:if="${user.about == null || user.about.isEmpty()}">
                        <p class="empty-about">
                        Your about me section is currently blank. Would you <br>
                            like to add one? <a href="http://localhost:8080/user/203?profiletab=settings">Edit profile</a>
                        </p>
                </div>

             <p th:if="${!user.about.isEmpty()}" th:utext="${user.about}"></p>


        </div>
    </div>

</div>