/* Navbar styling */
*{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 15px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Brand name */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #1d72b8;
}

/* Navbar links */
.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 16px;
}

.logoutBtn{
    margin-left: 20px;
    background:transparent;
    border:none;
     color: #333;
     font-weight: 400;
     font-size: 16px;
}

.navbar-links a:hover {
    color: #1d72b8;
}

/* Search form */
.navbar-search {
    width:25em;
    margin: 0 20px;
}

.navbar-search form {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
}

.navbar-search input[type="text"] {
    width:100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
    font-size: 15px;
}

.navbar-search button {
    padding: 8px 16px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-size: 15px;
}

.navbar-search button:hover {
    background-color: #1d72b8;
}

img{
    width:7em;
}

.search-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .search-input {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
    }

    .search-help {
        display: none;
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        background-color: #f1f1f1;
        color: #333;
        border-radius: 6px;
        padding: 10px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
        font-size: 0.9rem;
        z-index: 10;
    }

    .search-wrapper:focus-within .search-help {
        display: block;
    }

    .search-help code {
        background: #e0e0e0;
        padding: 2px 4px;
        border-radius: 4px;
        font-family: monospace;
    }