<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Search Results</title>
  <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>
<div th:replace="~{fragments/header :: header(user=${user} ?: null)}"></div>
<h1>Search Results</h1>

<ul>
  <li th:each="question : ${questionsPage.content}">
    <a th:href="@{/questions/{id}(id=${question.id})}" th:text="${question.title}"></a>
    <p th:text="${question.description}"></p>
    <p>Votes: <span th:text="${question.upvote - question.downvote}"></span></p>
  </li>
</ul>

<div>
    <span th:if="${currentPage > 0}">
        <a th:href="@{/questions/search(q=${q}, page=${currentPage - 1})}">Previous</a>
    </span>

  <span th:text="'Page ' + ${currentPage + 1} + ' of ' + ${totalPages}"></span>

  <span th:if="${currentPage + 1 < totalPages}">
        <a th:href="@{/questions/search(q=${q}, page=${currentPage + 1})}">Next</a>
    </span>
</div>

</body>
</html>
