<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/userProfile.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
    <style>
        .toastui-editor-tabs {
        display: none !important;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header(user=${user})}"></div>
<div style="display:flex; gap:0.5em; height:100vh;">
<div th:replace="fragments/Sidebar :: Sidebar"></div>
<div style="flex:1; padding:2em;" id="container">
    <div id="hero">
        <div id="main-content">
            <div id="profilebox">
                <div id="profile-data">
                    <div id="profile-img" style="height:8rem;width:8rem; margin-bottom:1rem;">
                        <img th:src="${user.avatar}"
                             style="width:100%; height:100%; object-fit:cover; border:0.1px solid gray;">
                    </div>
                    <div id="profile-title">
                        <p id="profile-name" th:text="${user.username}"></p>
                        <p th:if="${user.title!=null}" id="profile-tl" style="color:grey;" th:text="${user.title}"></p>
                        <p id="about-login">
                            <span th:text="${#temporals.format(user.createdAt, 'dd MMM yyyy HH:mm')}"></span>
                            <span th:if="${user.lastLoginAt != null}"
                                  th:text="'Last seen: ' + ${#temporals.format(user.lastLoginAt, 'dd MMM yyyy HH:mm')}"></span>
                        </p>
                    </div>
                </div>

                <div class="button-container">

                    <a th:href="@{'/user/' + ${user.id} + '?profiletab=settings'}"
                       th:classappend="${profiletab == 'settings'} ? ' active-tab' : ''" class="custom-button">
                        <img src="https://res.cloudinary.com/dtmsrjwaf/image/upload/v1746209274/pencil_dlktla.png"
                             class="icon" alt="Edit icon">
                        Edit Profile
                    </a>


                </div>


            </div>

            <div class="profile-tabs">
                <a th:href="@{'/user/' + ${user.id} + '?profiletab=profile'}"
                   th:classappend="${profiletab == 'profile'} ? 'active-tab' : ''"
                   id="tab-profile">Profile</a>

                <a th:href="@{'/user/' + ${user.id} + '?profiletab=activity'}"
                   th:classappend="${profiletab == 'activity'} ? ' active-tab' : ''"
                   id="tab-activity">Activity</a>

                <a th:href="@{'/user/' + ${user.id} + '?profiletab=settings'}"
                   th:classappend="${profiletab == 'settings'} ? ' active-tab' : ''"
                   id="tab-settings">Settings</a>

            </div>

            <div th:if="${profiletab == 'profile'}">
                <div th:replace="~{fragments/profilestat :: profilestat(user=${user})}"></div>
            </div>

            <div th:if="${profiletab == 'activity'}">
                <div th:replace="~{fragments/activitystat :: activitystat(user=${user}, activitytab=${activitytab}, tagList=${tagList})}"></div>
            </div>

            <div th:if="${profiletab == 'settings'}">
                <div th:replace="~{fragments/settingstat :: settingstat(user=${user} ,settingtab=${settingtab})}"></div>
            </div>

        </div>
    </div>
</div>
</div>
</body>
</html>
