<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/usersList.css}" />
<link rel="stylesheet" th:href="@{/css/home.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<head>
  <title>Users</title>
</head>
<body>
<div th:replace="~{fragments/header :: header(user=${user} ?: null)}"></div>
<div class="user-cont">
<div th:replace="fragments/Sidebar :: Sidebar"></div>
  <div class="userlist">
<h1>Users</h1>
    <div class="search-sort" style="width:1000px; display:flex; justify-content:space-between;">
    <form th:action="@{/users}" method="get" class="user-search-form">
      <input style="width:200px;" type="text" name="keyword" placeholder="Filter by user"
             th:value="${keyword}" />
    </form>
    <div class="sort-controls" style="border:1px solid grey; border-radius:0.2em; padding:0.2em;">
      <a style="border:none;" th:href="@{/users(sort='reputation', keyword=${keyword})}"
         th:classappend="${sort == 'reputation'} ? 'active-sort'" >Reputation</a>
      <a style="border:none;" th:href="@{/users(sort='new', keyword=${keyword})}"
         th:classappend="${sort == 'new'} ? 'active-sort'" >New users</a>
    </div>
    </div>
    <div class="list-cont">
<div th:each="userDto : ${usersPage}" class="user-card">
    <img th:src="${userDto.user.avatar}" alt="Stack Overflow" class="user-avatar"/>
  <div class="user-info">
    <a th:href="@{/user/{id}(id=${userDto.user.id}, profiletab='profile')}" th:text="${userDto.user.username}"></a>
    <strong th:text="${userDto.user.reputation}"></strong>
      <div class="user-tags">
      <span th:each="tag : ${userDto.tags}">
        <a th:href="@{'/question' + '?q=tag:' + ${tag.tagName}}" th:text="${tag.tagName}" class="tag-badge"></a>
      </span>
      </div>
  </div>
</div>
</div>

        <div class="pagination">
          <a th:if="${currentPage > 0}"
             th:href="@{/users(page=${currentPage - 1}, size=2, sort=${sort}, keyword=${keyword})}">Prev</a>

          <span class="active-page" th:text="${currentPage + 1}"></span>

          <span th:text="'of ' + ${totalPages}"></span>

          <a th:if="${currentPage + 1 < totalPages}"
             th:href="@{/users(page=${currentPage + 1}, size=2, sort=${sort}, keyword=${keyword})}">Next</a>

        </div>


  </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
